<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration page</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="min-height: 120px; background-color: rgb(114, 178, 203); font-size: 25px; font-weight: bolder;" id="NAV">
        <div class="col-md-2" style="padding-top: 20px;">
            Heart Disease Prediction
        </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-5" style="padding-top: 20px;">
        <a href="/index">Home</a> |
        <a href="/registration">Register</a> |
        <a href="/login">Login</a> |

    </div>
    <div style="min-height: 800px;">
        <img src="{{url_for('static', filename='002.jpg')}}" class="col-md-12">
    </div>
    <div style="min-height: 100px;background-color: rgb(132, 174, 203); font-size: 25px; font-size: 25px; font-weight: bolder; text-align: center;"id="NAV">
        All Rights Reserved 2025 Heart
    </div>

    </div>
    
</body>
</html>